<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.qinnovates.macshield.daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/macshield</string>
        <string>--trigger</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Library/Preferences/SystemConfiguration/com.apple.airport.preferences.plist</string>
        <string>/Library/Preferences/SystemConfiguration/com.apple.wifi.message-tracer.plist</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Library/Application Support/macshield/daemon.log</string>
    <key>StandardErrorPath</key>
    <string>/Library/Application Support/macshield/daemon.log</string>
</dict>
</plist>
